
html { 
  background: url(https://preview.ibb.co/i4Zr2a/man_on_the_road_wallpaper_3840x2400.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #adccff;
   
}
form {
   max-width: 600px;
   text-align: center;
   margin: 5px auto; }
